.bg {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.AK {
  transition: 0.5s;
}

.AK:hover {
  background-color:  #0284c7;
  color: white;
 box-shadow:2px 2px 4px #3b82f6;
  
}
.AKT{
background-color: white;
  color: #0284c7;
}
.BTN:hover{
 background-color:   #0284c76;
  color: white; 
  border-color: #0284c7;
}

.indikator:hover {
  background-color: #075985;
  height: 25px;
  color: #075985;
  transition: 0.3s;
}

.btn-header {
  transition: 0.2s;
}
